.main-content {
  min-height: calc(100vh - 56px - 105px);
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .main-content {
    min-height: calc(100vh - 78.5px - 105px);
    margin-top: 78.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

html,
body {
  height: 100%;
}

:root {
  --grey: rgba(217, 217, 217, 1);
  --variable-collection-grey-400: rgba(124, 141, 176, 1);
  --variable-collection-grey-600: rgba(110, 116, 145, 1);
}
