{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'core/profileCardStyle.css' %}">
{% if superuser and profile %}
<div id="app">
  <profile-card
    :name="'{{ superuser.get_full_name|escapejs }}'"
    :role="'{{ profile.role|escapejs }}'"
    :description="'{{ profile.description|escapejs }}'"
    :profile-picture="'{{ profile.profile_picture.url|escapejs }}'">
  </profile-card>
</div>
{% else %}
<div id="app">
  <profile-card
    :name="'John Doe'"
    :role="'SUPERCODER'"
    :description="'I can do anything you ask me too, given the correct deadline'"
    :profile-picture="'{% static 'core/images/created.png' %}'">
  </profile-card>
</div>
{% endif %}

<!-- Vue CDN -->
<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

<!-- Vue component script -->
<script src="{% static 'core/vue/components/profileCard.js' %}"></script>
<script src="{% static 'core/vue/components/MouseTracker.js' %}"></script>

<script>
  // Create the Vue app and register your components
  Vue.createApp({
    components: {
      'profile-card': window.ProfileCard,
      'mouse-tracker': window.MouseTracker
    }
  }).mount('#app');
</script>
{% endblock %}
