@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.xxl {
  width: auto;
  height: auto;
  padding: 0px 150px;
  background: white;
  display: flex; /* commands the vieport */
  flex-direction: column; /* divides its items in the vertical direction */
  justify-content: flex-start; /* using the start (top in this case */
  align-items: flex-start;
  gap: 8px;
}

.card-row {
  align-self: stretch;
  height: auto;
  padding: 0 0;
  display: flex; /* commands the row that presents all cards */
  flex-wrap: wrap; /* wraps around when there is no space */
  flex-direction: row; /* divides the row horizontally // organizes items horizontally */
  justify-content: flex-start; /* organizes from the start of the flex (left-side in this case) */
  align-items: flex-start; /* sadf */
  gap: 32px;
}

.card {
  flex: 1 1 0;
  min-width: 320px; /* This is important, since we want the cards to wrap, if kept auto, they would simply shrink in the same line*/
  align-self: stretch;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cover-image {
  align-self: stretch;
  flex: 1 1 0;
}

.card-details {
  align-self: stretch;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background: white;
}

.title-row {
  align-self: stretch;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 8px;
}

.companion,
.price,
.description,
.date {
  color: #6e7491;
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}

.description {
  align-self: stretch;
  color: #7c8db0;
  font-size: 16px;
  font-weight: 400;
}

.date-row {
  align-self: stretch;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 8px;
}

@media (max-width: 991px) {
  .xxl {
    width: auto;
    height: auto;
    padding: 0px 64px; /* make paddings for smaller devices smaller */
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
  }
}
